---
layout: page
title: "Curiosity is the lust of the mind"
permalink: /fun
nav_id: nav_fun
image_width: is-half
text_width: is-half
view_mode: content
---
<!-- {% assign items = site.about | sort: 'order' %}
{% for item in items %}
{% assign side = forloop.index0 | modulo: 2 %}
{% include left_right.html %}
{% endfor %} -->


<div class="post-block">

    <article itemscope itemtype="http://schema.org/Article" class="post-content" lang="en">
        <link itemprop="mainEntityOfPage" href="https://phoenixrain-pku.github.io/2023/05/17/middleschool/">

        <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="image" content="/images/avatar.gif">
            <meta itemprop="name" content="Lifeng Fan">
        </span>

        <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="Lifeng Fan">
        </span>

        <header class="post-header">
            <h2 class="post-title" itemprop="name headline">
                <a href="articles/2024/03/05/test/" class="post-title-link" itemprop="url">写作</a>
            </h2>
            <div class="post-meta-container">
                <div class="post-meta">
                    <span class="post-meta-item">
                        <span class="post-meta-item-icon">
                            <i class="far fa-calendar"></i>
                        </span>
                        <span class="post-meta-item-text">Posted on</span>
                            <time title="Created: 2024-03-05 16:44:24" itemprop="dateCreated datePublished" datetime="2023-05-17T16:44:24+08:00">2024-03-05</time>
                    </span>
                    <span class="post-meta-item">
                            <span class="post-meta-item-icon">
                                <i class="far fa-calendar-check"></i>
                            </span>
                            <span class="post-meta-item-text">Edited on</span>
                                <time title="Modified: 2023-09-15 11:17:12" itemprop="dateModified" datetime="2023-09-15T11:17:12+08:00">2023-09-15</time>
                    </span>
                    <span class="post-meta-item">
                        <span class="post-meta-item-icon">
                            <i class="far fa-folder"></i>
                        </span>
                        <span class="post-meta-item-text">In</span>
                        <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                            <a href="/categories/%E9%9A%8F%E7%AC%94/" itemprop="url" rel="index"><span itemprop="name">随笔</span></a>
                        </span>
                    </span>
                </div>
            </div>
        </header>


        <div class="post-body" itemprop="articleBody">
            <p>之前并不怎么讲中学的事情，因为现在的我倾向于不喜欢、不怀念这段时光（即使两年前我可能还经常提起高中，如今我这么想恐怕也只是因为这些年发生了更重要的事情盖过了那些年）。然而我仍然必须承认这些回忆的重要性。我觉得写些什么下来也是有点意思的，而且有时候它们就涌现出来，也不得不写。</p>

            <div class="post-button">
                <a class="btn" href="/2024/03/05/test/#more" rel="contents">
                    Read more &raquo;
                </a>
            </div>
        </div>

    </article>
</div>


