---
layout: page
title:
permalink: /publications
nav_id: nav_publication
image_width: is-one-third
text_width: is-two-thirds
---

<p style="margin: 0 0 1.5rem 0; font-style: italic; color: #555;">
  This page presents a selection of my publications.
    \\ For a complete and up-to-date list, please visit my
  <a href="https://scholar.google.com/citations?user=WvdVTmIAAAAJ&hl=en"
     style="color: #555; text-decoration: underline;">Google Scholar profile</a>.
</p>

{% assign publications = site.data.publications | sort: 'year' | reverse %}
{% for item in site.data.publications %}
{% include publication-item.html %}
{% endfor %}



