<div class="content">
	<br>
	<br>
	<div class="columns is-vcentered">

		<div class="column {{page.image_width}} is-hidden-mobile">
			<figure class="image">
				<img src="{{site.baseurl}}/assets/files/{{ item.image }}" class="card-img" style="max-width: 100%;">
			</figure>
		</div>

		<div class="column {{page.text_width}} ">

			<div class="content">
				<p>
					<strong>{{ item.title }}</strong>
					<br>
					{% for author in item.authors %}
					{% if author.website %}
					<a class="tag is-small is-success {% if author.name != site.title %}is-light{% endif %}" href="{{ author.website }}" target="_blank">{{ author.name }} </a>
					{% else %}
					<span class="tag is-small is-success {% if author.name != site.title %}is-light{% endif %}">{{ author.name }}</span>
					{% endif %}
					{% endfor %}

					<br>

					{% if item.conference != false %}
					<strong><i>{{ item.conference }}</i></strong>
					{% endif %}

					{% if item.journal != false %}
					<strong><i>{{ item.journal }}</i>></strong>
					{% endif %}

					{% if item.tags %}
					<br>
					{% for tag in item.tags %}
					<a class="tag is-small is-info is-light" {% if tag.link %}href="{{ tag.link }}" target="_blank"{% endif %}>{{ tag.tag }}</a>
					{% endfor %}
					{% endif %}

					{% if item.media %}
					<br>
					{% for tag in item.media %}
					<a class="tag is-small is-info is-light" {% if tag.link %}href="{{ tag.link }}" target="_blank"{% endif %}>{{ tag.tag }}</a>
					{% endfor %}
					{% endif %}

				</p>
			</div>

		</div>

		<div class="column {{page.image_width}} is-hidden-tablet"><!--is-hidden-tablet hides for all screens bigger than tablet -> only if not mobile -->
			<figure class="image">
				<img src="{{site.baseurl}}/assets/files/{{ item.image }}" class="card-img" style="max-width: 100%;" >
			</figure>
		</div>

	</div>
</div>


