<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Publications</title>
  <meta name="description" content="Homepage for Chiyuan Zhang.">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" /> -->
  <link rel="stylesheet" id="bulma" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/academicons.min.css">

  <link rel="canonical" href="http://pluskid.org/publications/">
</head>

  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <nav class="navbar" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Chiyuan Zhang (张 驰原)</strong>
    </a>

    <div class="navbar-burger" data-target="navbar-main">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navbar-main">
    <div class="navbar-start">
      <!-- navbar items -->
      <a href="/" class="navbar-item">
        About
      </a>
      <a class="navbar-item" href="/publications/">
        Publications
      </a>
      <a class="navbar-item" href="/projects/">
        Projects
      </a>
      <!-- Resume is out-dated
      <a class="navbar-item" href="/files/chiyuan-resume.pdf">
        Resume
      </a>
      -->
      <a class="navbar-item" href="/fun/">
        Fun stuff
      </a>
      <a class="navbar-item" href="http://freemind.pluskid.org">
        Blog
      </a>
    </div>

    <div class="navbar-end">
      <!-- navbar items -->
      <div class="navbar-item">
        <a href="mailto:pluskid@gmail.com" class="button is-white">
          <i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i>
        </a>
        <a href="https://scholar.google.com/citations?user=l_G2vr0AAAAJ&hl=en" class="button is-white">
          <i class="ai ai-lg ai-google-scholar-square" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/pluskid" class="button is-white">
          <i class="fa fa-lg fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/pluskid/" class="button is-white">
          <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
        </a>
        <!--<a href="https://www.douban.com/people/pluskid/" class="button is-white">
          <img src="/images/douban.png" width="20" height="20">
        </a>-->
      </div>
    </div>
  </div>
</nav>

      </div>

      <div class="hero-body">
        <div class="container">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h1>Publications</h1>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>LabelDP-Pro: Learning with Label Differential Privacy via Projections</b>.<br>
        <span class="has-text-grey"><small>
            Badih Ghazi, Yangsibo Huang, Pritish Kamath, Ravi Kumar, Pasin Manurangsi, <u>Chiyuan Zhang</u>.<br>
          International Conference on Learning Representations (<b>ICLR</b>), 2024.
          <a class="tag" href="https://openreview.net/pdf?id=JnYaF3vv3G">PDF</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Training Differentially Private Ad Prediction Models with Semi-Sensitive Features</b>.<br>
        <span class="has-text-grey"><small>
            Lynn Chua, Qiliang Cui, Badih Ghazi, Charlie Harrison, Pritish Kamath, Walid Krichene, Ravi Kumar, Pasin Manurangsi, Krishna Giri Narra, Amer Sinha, Avinash Varadarajan, <u>Chiyuan Zhang</u>.<br>
          The 5th AAAI Workshop on Privacy-Preserving Artificial Intelligence (<b>PPAI</b>), 2024.
          <a class="tag" href="https://arxiv.org/abs/2401.15246">arXiv:2401.15246</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Optimal Unbiased Randomizers for Regression with Label Differential Privacy</b>.<br>
        <span class="has-text-grey"><small>
            Ashwinkumar Badanidiyuru, Badih Ghazi, Pritish Kamath, Ravi Kumar, Ethan Leeman, Pasin Manurangsi, Avinash V Varadarajan, <u>Chiyuan Zhang</u>.<br>
          Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2023.
          <a class="tag" href="https://arxiv.org/abs/2312.05659">arXiv:2312.05659</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Sparsity-Preserving Differentially Private Training of Large Embedding Models</b>.<br>
        <span class="has-text-grey"><small>
            Badih Ghazi, Yangsibo Huang, Pritish Kamath, Ravi Kumar, Pasin Manurangsi, Amer Sinha, <u>Chiyuan Zhang</u>.<br>
          Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2023.
          <a class="tag" href="https://arxiv.org/abs/2311.08357">arXiv:2311.08357</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>


  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>User-Level Differential Privacy With Few Examples Per User</b>.<br>
        <span class="has-text-grey"><small>
            Badih Ghazi, Pritish Kamath, Ravi Kumar, Pasin Manurangsi, Raghu Meka, <u>Chiyuan Zhang</u>.<br>
          Advances in Neural Information Processing Systems (<b>NeurIPS</b>, Oral), 2023.
          <a class="tag" href="https://arxiv.org/abs/2309.12500">arXiv:2309.12500</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Counterfactual Memorization in Neural Language Models</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Daphne Ippolito, Katherine Lee, Matthew Jagielski, Florian Tramèr, Nicholas Carlini.<br>
          Advances in Neural Information Processing Systems (<b>NeurIPS</b>, Spotlight), 2023.
          <a class="tag" href="https://arxiv.org/abs/2112.12938">arXiv:2112.12938</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Ticketed Learning-Unlearning Schemes</b>.<br>
        <span class="has-text-grey"><small>
            Badih Ghazi, Pritish Kamath, Ravi Kumar, Pasin Manurangsi, Ayush Sekhari, <u>Chiyuan Zhang</u>.<br>
            Conference on Learning Theory (<b>COLT</b>), 2023.
            <a class="tag" href="https://arxiv.org/abs/2306.15744">arXiv:2306.15744</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Can Neural Network Memorization Be Localized</b>?<br>
        <span class="has-text-grey"><small>
            Pratyush Maini, Michael C. Mozer, Hanie Sedghi, Zachary Lipton, Zico Kolter, <u>Chiyuan Zhang</u>.<br>
            International Conference on Machine Learning (<b>ICML</b>), 2023.
            <a class="tag" href="https://arxiv.org/abs/2307.09542">arXiv:2307.09542</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>On User-Level Private Convex Optimization</b>.<br>
        <span class="has-text-grey"><small>
            Badih Ghazi, Pritish Kamath, Ravi Kumar, Raghu Meka, Pasin Manurangsi, <u>Chiyuan Zhang</u>.<br>
            International Conference on Machine Learning (<b>ICML</b>), 2023.
            <a class="tag" href="https://arxiv.org/abs/2305.04912">arXiv:2305.04912</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Preventing Verbatim Memorization in Language Models Gives a False Sense of Privacy</b>.<br>
        <span class="has-text-grey"><small>
            Daphne Ippolito, Florian Tramèr, Milad Nasr, <u>Chiyuan Zhang</u>, Matthew Jagielski, Katherine Lee, Christopher A. Choquette-Choo, Nicholas Carlini.<br>
            International Natural Language Generation Conference (<b>INLG</b>), 2023.
            <a class="tag" href="https://arxiv.org/abs/2210.17546">arXiv:2210.17546</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Private Ad Modeling with DP-SGD</b>.<br>
        <span class="has-text-grey"><small>
            Carson Denison, Badih Ghazi, Pritish Kamath, Ravi Kumar, Pasin Manurangsi, Krishna Giri Narra, Amer Sinha, Avinash Varadarajan, <u>Chiyuan Zhang</u>.<br>
            AdKDD, 2023.
            <a class="tag" href="https://arxiv.org/abs/2211.11896">arXiv:2211.11896</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Regression with Label Differential Privacy</b>.<br>
        <span class="has-text-grey"><small>
            Badih Ghazi, Pritish Kamath, Ravi Kumar, Ethan Leeman, Pasin Manurangsi, Avinash Varadarajan, <u>Chiyuan Zhang</u>.<br>
            The International Conference on Learning Representations (<b>ICLR</b>), 2023.
            <a class="tag" href="https://arxiv.org/abs/2212.06074">arXiv:2212.06074</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Quantifying Memorization Across Neural Language Models</b>.<br>
        <span class="has-text-grey"><small>
            Nicholas Carlini<sup>&#9838;</sup>, Daphne Ippolito<sup>&#9838;</sup>, Matthew Jagielski<sup>&#9838;</sup>, Katherine Lee<sup>&#9838;</sup>, Florian Tramer<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>.
            <sup>&#9838;</sup>equal contribution.<br>
            The International Conference on Learning Representations (<b>ICLR</b>, top-25%), 2023.
            <a class="tag" href="https://arxiv.org/abs/2202.07646">arXiv:2202.07646</a>
            <a class="tag" href="https://github.com/ethz-spylab/lm_memorization_data">Data</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Measuring Forgetting of Memorized Training Examples</b>.<br>
        <span class="has-text-grey"><small>
            Matthew Jagielski, Om Thakkar, Florian Tramèr, Daphne Ippolito, Katherine Lee, Nicholas Carlini, Eric Wallace, Shuang Song, Abhradeep Thakurta, Nicolas Papernot, <u>Chiyuan Zhang</u>.<br>
            The International Conference on Learning Representations (<b>ICLR</b>), 2023.
            <a class="tag" href="https://arxiv.org/abs/2207.00099">arXiv:2207.00099</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Just Fine-tune Twice: Selective Differential Privacy for Large Language Models</b>.<br>
        <span class="has-text-grey"><small>
            Weiyan Shi, Si Chen, <u>Chiyuan Zhang</u>, Ruoxi Jia, Zhou Yu.<br>
            Empirical Methods in Natural Language Processing (<b>EMNLP</b>), 2022.
            <a class="tag" href="https://arxiv.org/abs/2204.07667">arXiv:2204.07667</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>The Privacy Onion Effect: Memorization is Relative</b>.<br>
        <span class="has-text-grey"><small>
            Nicholas Carlini, Matthew Jagielski, <u>Chiyuan Zhang</u>, Nicolas Papernot, Andreas Terzis, Florian Tramer.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2022.
             <a class="tag" href="https://arxiv.org/abs/2206.10469">arXiv:2206.10469</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Learning to Reason with Neural Networks: Generalization, Unseen Data and Boolean Measures</b>?<br>
        <span class="has-text-grey"><small>
            Emmanuel Abbe, Samy Bengio, Elisabetta Cornacchia, Jon Kleinberg, Aryo Lotfi, Maithra Raghu, <u>Chiyuan Zhang</u>.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2022.
            <a class="tag" href="https://arxiv.org/abs/2205.13647">arXiv:2205.13647</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Understanding and Improving Robustness of Vision Transformers through Patch-based Negative Augmentation</b>.<br>
        <span class="has-text-grey"><small>
            Yao Qin, <u>Chiyuan Zhang</u>, Ting Chen, Balaji Lakshminarayanan, Alex Beutel, Xuezhi Wang.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2022.
            <a class="tag" href="https://arxiv.org/abs/2110.07858">arXiv:2110.07858</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Are All Layers Created Equal</b>?<br>
        <small><span class="has-text-grey">
          <u>Chiyuan Zhang</u>, Samy Bengio, Yoram Singer.<br>
          Journal of Machine Learning Research (<b>JMLR</b>), 2022.
          <a class="tag" href="https://arxiv.org/abs/1902.01996">arXiv:1902.01996</a>
          <a class="tag" href="https://jmlr.org/papers/v23/20-069.html">JMLR</a>
        </span></small>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Deduplicating Training Data Makes Language Models Better</b>.<br>
        <span class="has-text-grey"><small>
          Katherine Lee<sup>&#9838;</sup>, Daphne Ippolito<sup>&#9838;</sup>, Andrew Nystrom, <u>Chiyuan Zhang</u>, Douglas Eck, Chris Callison-Burch, Nicholas Carlini.
          <sup>&#9838;</sup>equal contribution.<br>
          The 60th Annual Meeting of the Association for Computational Linguistics (<b>ACL</b>, Oral), 2022.
          <a class="tag" href="https://arxiv.org/abs/2107.06499">arXiv:2107.06499</a>
          <a class="tag" href="https://github.com/google-research/deduplicate-text-datasets">code</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Do Vision Transformers See Like Convolutional Neural Networks</b>?<br>
        <span class="has-text-grey"><small>
            Maithra Raghu, Thomas Unterthiner, Simon Kornblith, <u>Chiyuan Zhang</u>, Alexey Dosovitskiy.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>),
            2021.
            <a class="tag" href="https://arxiv.org/abs/2108.08810">arXiv:2108.08810</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Deep Learning with Label Differential Privacy</b>.<br>
        <span class="has-text-grey"><small>
        Badih Ghazi<sup>&#9838;</sup>, Noah Golowich<sup>&#9838;</sup>, Ravi Kumar<sup>&#9838;</sup>, Pasin Manurangsi<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>.
        <sup>&#9838;</sup>equal contribution.<br>
        Advances in Neural Information Processing Systems (<b>NeurIPS</b>),
        2021.
        <a class="tag" href="https://arxiv.org/abs/2102.06062">arXiv:2102.06062</a>
        <a class="tag" href="https://github.com/google-research/label-dp">code</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Characterizing Structural Regularities of Labeled Data in Overparameterized Models</b>.<br>
        <span class="has-text-grey"><small>
            Ziheng Jiang<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>, Kunal Talwar, Michael C. Mozer.
            <sup>&#9838;</sup>equal contribution.<br>
            International Conference on Machine Learning (<b>ICML</b>, Long presentation (3%)), 2021.
            <!-- 166 long presentations out of 5513 submissions -->
            <a class="tag" href="https://arxiv.org/abs/2002.03206">arXiv:2002.03206</a>
            <a class="tag" href="https://pluskid.github.io/structural-regularity/">project website</a>
            <a class="tag" href="https://github.com/pluskid/structural-regularity">code</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>


  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Understanding invariance via feedforward inversion of discriminatively trained classifiers</b>.<br>
        <span class="has-text-grey"><small>
            Piotr Teterwak, <u>Chiyuan Zhang</u>, Dilip Krishnan, Michael C. Mozer.<br>
            International Conference on Machine Learning (<b>ICML</b>), 2021.
            <a class="tag" href="https://arxiv.org/abs/2103.07470">arXiv:2103.07470</a>
            <a class="tag" href="https://sites.google.com/view/understanding-invariance">project website</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Understanding Deep Learning (Still) Requires Rethinking Generalization</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Samy Bengio, Moritz Hardt, Benjamin Recht, Oriol Vinyals.<br>
            <b>Communications of the ACM</b>, March 2021, Vol. 64 No. 3, Pages 107-115.
            <small>(Republication of our ICLR 2017 papar as CACM Research Highlights)</small>.
            <a class="tag" href="https://cacm.acm.org/magazines/2021/3/250713-understanding-deep-learning-still-requires-rethinking-generalization/fulltext">Full Article</a>
            <a class="tag" href="https://vimeo.com/505329974">Media</a>
            <a class="tag" href="https://cacm.acm.org/magazines/2021/3/250716-technical-perspective-why-dont-todays-deep-nets-overfit-to-their-training-data/fulltext">Technical Perspective</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>What is being transferred in transfer learning?</b>.<br>
        <span class="has-text-grey"><small>
            Behnam Neyshabur<sup>&#9838;</sup>, Hanie Sedghi<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>.
            <sup>&#9838;</sup>equal contribution.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2020.
            <a class="tag" href="https://arxiv.org/abs/2008.11687">arXiv:2008.11687</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>What Neural Networks Memorize and Why: Discovering the Long Tail via Influence Estimation</b>.<br>
        <span class="has-text-grey"><small>
          Vitaly Feldman<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>.
          <sup>&#9838;</sup>equal contribution.<br>
          Advances in Neural Information Processing Systems (<b>NeurIPS</b>, Spotlight (4%)), 2020.
          <!-- 105 orals and 280 spotlights out of 1900 accepted, with 9454 submissions -->
          <a class="tag" href="https://arxiv.org/abs/2008.03703">arXiv:2008.03703</a>
          <a class="tag" href="https://pluskid.github.io/influence-memorization/">project website</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Identity Crisis: Memorization and Generalization under Extreme Overparameterization</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Samy Bengio, Moritz Hardt, Michael C. Mozer, Yoram Singer.<br>
            The International Conference on Learning Representations (<b>ICLR</b>), 2020.
            <a class="tag" href="https://arxiv.org/abs/1902.04698">arXiv:1902.04698</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Transfusion: Understanding Transfer Learning for Medical Imaging</b>.<br>
        <span class="has-text-grey"><small>
        Maithra Raghu<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>, Jon Kleinberg<sup>&#9837;</sup>, Samy Bengio<sup>&#9837;</sup>.
        <sup>&#9838;</sup>equal contribution; <sup>&#9837;</sup>equal contribution.<br>
        Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2019.
        <a class="tag" href="https://arxiv.org/abs/1902.07208">arXiv:1902.07208</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Unrestricted Adversarial Examples</b>.<br>
        <span class="has-text-grey"><small>
            Tom B. Brown, Nicholas Carlini, <u>Chiyuan Zhang</u>, Catherine Olsson, Paul Christiano, Ian Goodfellow.<br>
            Preprint 2018.
            <a class="tag" href="https://arxiv.org/abs/1809.08352">arXiv:1809.08352</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>A Study on Overfitting in Deep Reinforcement Learning</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Oriol Vinyals, Remi Munos, Samy Bengio.<br>
            Preprint 2018.
            <a class="tag" href="https://arxiv.org/abs/1804.06893">arXiv:1804.06893</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Machine Theory of Mind</b>.<br>
        <span class="has-text-grey"><small>
            Neil C. Rabinowitz, Frank Perbet, H. Francis Song, <u>Chiyuan Zhang</u>, S.M. Ali Eslami, Matthew Botvinick.<br>
            International Conference on Machine Learning (<b>ICML</b>), 2018.
            <a class="tag" href="https://arxiv.org/abs/1802.07740">arXiv:1802.07740</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Automated fault detection without seismic processing</b>.<br>
        <span class="has-text-grey"><small>
            Mauricio Araya-Polo, Taylor Dahlke, Charlie Frogner, <u>Chiyuan Zhang</u>, Tomaso Poggio, and Detlef Hohl.<br>
            The Leading Edge (TLE), Society of Exploration Geophysicists (SEG), 2017.
            <a class="tag" href="http://library.seg.org/doi/abs/10.1190/tle36030208.1">DOI:10.1190/tle36030208.1</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Understanding Deep Learning Requires Rethinking Generalization</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Samy Bengio, Moritz Hardt, Benjamin Recht, Oriol Vinyals.<br>
            International Conference on Learning Representations (<b>ICLR</b>), <b class="em">Best Paper Award</b>, 2017.
            <a class="tag" href="https://arxiv.org/abs/1611.03530">arXiv:1611.03530</a>
            <a class="tag" href="https://github.com/pluskid/fitting-random-labels">code</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Training Deep Nets with Sublinear Memory Cost</b>.<br>
        <span class="has-text-grey"><small>
            Tianqi Chen, Bing Xu, <u>Chiyuan Zhang</u>, Carlos Guestrin.<br>
            Preprint 2016.
            <a class="tag" href="https://arxiv.org/abs/1604.06174">arXiv:1604.06174</a>
            <a class="tag" href="https://github.com/dmlc/mxnet-memonger">code</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Learning with a Wasserstein Loss</b>.<br>
        <span class="has-text-grey"><small>
            Charlie Frogner<sup>&#9838;</sup>, <u>Chiyuan Zhang</u><sup>&#9838;</sup>, Hossein Mobahi, Mauricio Araya-Polo, Tomaso Poggio.
            <sup>&#9838;</sup>equal contribution.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2015.
            <a class="tag" href="http://arxiv.org/abs/1506.05439">arXiv:1506.05439</a>
            <a class="tag" href="http://cbcl.mit.edu/wasserstein/">project website</a>
            <a class="tag" href="http://news.mit.edu/2015/more-flexible-machine-learning-1001">MIT News</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>MXNet: A Distributed Deep Learning Framework for Efficiency and Flexibility</b>.<br>
        <span class="has-text-grey"><small>
          Tianqi Chen, Mu Li, Yutian Li, Min Lin, Naiyan Wang,
          Minjie Wang, Tianjun Xiao, Bing Xu, <u>Chiyuan Zhang</u>, Zheng Zhang.<br>
          NeurIPS Workshop on LearningSys, 2015.
          <a class="tag" href="http://arxiv.org/abs/1512.01274">arXiv:1512.01274</a>
          <a class="tag" href="https://github.com/apache/incubator-mxnet">code</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>A-Optimal Projection for Image Representation</b>.<br>
        <span class="has-text-grey"><small>
            Xiaofei He, <u>Chiyuan Zhang</u>, Lijun Zhang, Xuelong Li.<br>
            IEEE Trans. on Pattern Analysis and Machine Intelligence (<b>TPAMI</b>), 2015.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Discriminative Template Learning in Group-Convolutional Networks for Invariant Speech Representations</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Stephen Voinea, Georgios Evangelopoulos, Lorenzo Rosasco, Tomaso Poggio.<br>
            <b>INTERSPEECH</b> 2015.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Phone Classification by a Hierarchy of Invariant Representation Layers</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Stephen Voinea, Georgios Evangelopoulos, Lorenzo Rosasco, Tomaso Poggio.<br>
            <b>INTERSPEECH</b> 2014.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Word-level Invariant Representations from Acoustic Waveforms</b>.<br>
        <span class="has-text-grey"><small>
            Stephen Voinea, <u>Chiyuan Zhang</u>, Georgios Evangelopoulos, Lorenzo Rosasco, Tomaso Poggio.<br>
            <b>INTERSPEECH</b>, <b class="em">Best Student Paper</b>, 2014.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Learning An Invariant Speech Representation</b>.<br>
        <span class="has-text-grey"><small>
            Georgios Evangelopoulos, Stephen Voinea, <u>Chiyuan Zhang</u>, Lorenzo Rosasco, Tomaso Poggio.<br>
            CBMM Memo No. 22, 2014.
            <a class="tag" href="http://arxiv.org/abs/1406.3884">arXiv:1406.3884</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>A Deep Representation for Invariance and Music Classification</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Georgios Evangelopoulos, Stephen Voinea, Lorenzo Rosasco, Tomaso Poggio.<br>
            IEEE International Conference on Acoustics, Speech and Signal Processing (<b>ICASSP</b>), 2014.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Machine-learning Based Automated Fault Detection in Seismic Traces</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Charlie Frogner, Mauricio Araya-Polo, Detlef Hohl.<br>
            Proceedings of 76th European Association of Geoscientists and Engineers Conference &amp; Exhibition (<b>EAGE</b>), 2014.
            <a class="tag" href="http://cbcl.mit.edu/publications/eage14.pdf">PDF</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Parallel Vector Field Embedding</b>.<br>
        <span class="has-text-grey"><small>
            Binbin Lin, Xiaofei He, <u>Chiyuan Zhang</u>, Ming Ji.<br>
            Journal of Machine Learning Research (<b>JMLR</b>), 2013.
            <a class="tag" href="https://www.jmlr.org/papers/v14/lin13a.html">JMLR</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Image Compression by Learning to Minimize the Total Error</b>.<br>
        <span class="has-text-grey"><small>
            <u>Chiyuan Zhang</u>, Xiaofei He.<br>
            IEEE Transactions on Circuits and Systems for Video Technology (<b>TCSVT</b>), 2013.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Multi-task Vector Field Learning</b>.<br>
        <span class="has-text-grey"><small>
            Binbin Lin, Sen Yang, <u>Chiyuan Zhang</u>, Jieping Ye, Xiaofei He.<br> 
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2012.
            <a class="tag" href="https://papers.nips.cc/paper/2012/hash/a5e00132373a7031000fd987a3c9f87b-Abstract.html">paper</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Semi-supervised Regression via Parallel Field Regularization</b>.<br>
        <span class="has-text-grey"><small>
            Binbin Lin, <u>Chiyuan Zhang</u>, Xiaofei He.<br>
            Advances in Neural Information Processing Systems (<b>NeurIPS</b>), 2011.
            <a class="tag" href="https://proceedings.neurips.cc/paper/2011/hash/bc6dc48b743dc5d013b1abaebd2faed2-Abstract.html">paper</a>
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>A Variance Minimization Criterion to Feature Selection using Laplacian Regularization</b>.<br> 
        <span class="has-text-grey"><small>
            Xiaofei He, Ming Ji, <u>Chiyuan Zhang</u>.<br> 
            IEEE Transactions on Pattern Analysis and Machine Intelligence (<b>TPAMI</b>), 2011.
        </small></span>
        </p>
      </div>
    </div>
  </article>

  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <b>Unsupervised feature selection for multi-cluster data</b>.<br>
        <span class="has-text-grey"><small>
            Deng Cai, <u>Chiyuan Zhang</u>, Xiaofei He.<br>
            Proc. of the 16th ACM SIGKDD Int. Conf. on Knowledge Discovery and Data Mining (<b>KDD</b>), 2010.
        </small></span>
        </p>
      </div>
    </div>
  </article>
</div>

      </div>

      <div class="hero-foot">
        <footer class="footer">
  <div class="container">
    <div class="content has-text-right is-size-7">
      <p>
      Created &amp; maintained by pluskid, with <a href="https://jekyllrb.com/">jekyll</a> and
      <a href="http://bulma.io/">bulma</a>.
      Content licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </div>
</footer>

<script async type="text/javascript" src="/javascript/bulma.js"></script>

      </div>
    </section>
  </body>
</html>
